[Unit]
Description=Symlinks flatpak's to their normal binary name, so you can call apps from terminal sanely.

[Service]
Type=simple
ExecStart=%h/.local/bin/flatpak-symlinker
Restart=on-failure

[Install]
WantedBy=default.target
